<template>
  <div class="main">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <h1 class="navbar-item" href="#">
            Sentiance
          </h1>
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </nav>
    <div class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="my-transport-details" v-for="transport in transportDetails" :key="transport.mode">
            <h3 class="title ">{{ transport.mode }}</h3>
            <ul>
              <li> <strong>Distance:</strong> {{ transport.distance }} <strong>Metters</strong></li>
              <li> <strong>Total:</strong> {{ transport.amount }} </li>
              <li>
                <strong>Duration:</strong>
                {{ transport.duration | duration('as', 'hours') | formatHour }}
                <strong>Hours </strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-12">
            <div class="field">
              <label class="label">Start Moment</label>
              <div class="control">
                <input type="datetime-local" 
                       class="input"
                       v-model="startDate"
                       >
              </div>
            </div>
            
            <div class="field">
              <label class="label">End Moment</label>
              <div class="control">
                <input type="datetime-local" 
                       class="input"
                       v-model="endDate"
                       >
              </div>
            </div>          
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <div class="timeline">
              <header class="timeline-header">
                <span class="tag is-medium is-primary">Start</span>
              </header>
              <div class="timeline-item my-timeline"
                   v-for="event in timelineFilter"
                   :key="event.id">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                  <p class="heading">{{ event.start }} / {{ event.end }} - 
                    {{ event.duration | duration('as', 'hours') | formatHour }}
                    <strong>Hours </strong>
                  </p>
                  <template v-if="event.type == 'Stationary'">
                    <p>
                      <strong>Mode: </strong> Stationary
                    </p>
                  </template>
                  <template v-else>
                    <p> <strong>Mode: </strong> {{event.mode}} </p>
                    <p> <strong>Distance: </strong> {{event.distance}}m </p>
                  </template>
                </div>
              </div>
              <div class="timeline-header">
                <span class="tag is-medium is-primary">End</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


function getISOStringWithoutSecsAndMillisecs(dateStr) {
  return dateStr.substring(0, dateStr.indexOf(':', dateStr.indexOf(':')+1))
}

export default {
  name: 'Main',
  data () {
    return {
      startDate: null,
      endDate: null,
      events: [],
      transportDetails: [],
    }
  },
  computed: {
    timelineFilter () {
      const startForm = this.$moment(this.startDate).valueOf()
      const endForm = this.$moment(this.endDate).valueOf()
      return this.events.filter((event) => {
        const startItem = this.$moment(event['start']).valueOf()
        return startItem >= startForm && startItem <= endForm 
      })
    }
  },
  methods: {
    loadEvents() {
      return this.$api.getEvents()
        .then((events) => {
          this.events = events.map((event) => {
            event['start'] = getISOStringWithoutSecsAndMillisecs(event['start'])
            event['end'] = getISOStringWithoutSecsAndMillisecs(event['end'])
            return event
          })
          this.startDate = this.events[0].start
          this.endDate = this.events[(this.events).length-100].start
        })
    },
    loadTransportAggs() {
      return this.$api.getTransportAggs()
        .then((transportsDetails) => {
          this.transportDetails = transportsDetails
        })
    }
  },
  created () {
    this.loadEvents()
    this.loadTransportAggs()
  }
}
</script>

<style scoped>
h1 {
    font-size: 2em;
}

.my-transport-details {
    padding: 5em;
    width: 33%

}

.my-transport-details h3 {
    text-transform: capitalize;
}

.my-transport-details:nth-child(even) {
    background: #fafafa;
}

.my-transport-details:nth-child(odd) {
    background: #dadada;
}

.my-timeline:nth-child(even) {
    background: #fafafa;    
}
.my-timeline:nth-child(odd) {
    background: #eaeaea;
}


</style>
